[submodule "dep/flecs"]
	path = dep/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "dep/spdlog"]
	path = dep/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "dep/glm"]
	path = dep/glm
	url = https://github.com/g-truc/glm.git
[submodule "dep/imgui"]
	path = dep/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dep/sokol"]
	path = dep/sokol
	url = https://github.com/floooh/sokol.git
[submodule "dep/Catch2"]
	path = dep/Catch2
	url = https://github.com/catchorg/Catch2.git
