[submodule "dep/SFML"]
	path = dep/SFML
	url = https://github.com/SFML/SFML.git
[submodule "dep/flecs"]
	path = dep/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "dep/spdlog"]
	path = dep/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "dep/glm"]
	path = dep/glm
	url = https://github.com/g-truc/glm.git
[submodule "dep/bgfx-cmake"]
	path = dep/bgfx-cmake
	url = https://github.com/bkaradzic/bgfx.cmake.git
